.completedClass {
    color: red;
}

.notCompleteClass {
    color: blue;
}

.forgottenClass {
    color: pink;
}

.taskLists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
