/* VARIABLES */
$primaryFont: "Libre Franklin", sans-serif;
$secondaryFont: "Muli", sans serif;
$primaryColor: rgb(98, 191, 228);
$secondaryColor: darkcyan;
$accentColor: rgb(20, 140, 184);
$white: white;


/* GLOBAL STYLES */
body {
    font-size: 62.5%;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

footer {
    background: #6eccc6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6eccc6, #0ed2f7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6eccc6, #0ed2f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // position: absolute;
    // bottom: 0;
    // margin-top: 1rem;
    // width: 100%;
    padding: 0.5rem 0;
}

.footerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footerText {
    font-family: $primaryFont;
    text-transform: lowercase;
    font-size: 1.0rem;
    color: white;
    margin: 0;
}

.footerText a {
    color: white;
    text-decoration: none;
    &:hover {
        color: $secondaryColor;
    }
}

.footerTitle {
    font-size: 1.0rem;
    padding: 0;
    margin: 0;
}

.footerTitle .fa-tint {
    font-size: 1.0rem;
}

@media (max-width: 1205px) {
    .footerTitle {
        margin-right: 10px;
    }
    .footerText {
        margin-left: 10px;
    }
}
@media (max-width: 362px) {
    .footerText {
        font-size:0.8rem;
    }
}

button {
    display: block;
    color: white;
    font-family: $primaryFont;
    font-size: 1rem;
    text-transform: lowercase;
    background: $secondaryColor;
    border: 2px solid $secondaryColor;
    border-radius: 5px;
    &:hover {
        background: $accentColor;
    }
}
