header {
    background: #6eccc6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6eccc6, #0ed2f7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6eccc6, #0ed2f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px 0;

}

.headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px; 
}

.headerDate {
    display: flex;
    flex-direction: column;
}

h1, .fa-tint {
    color: $white;
    font-size: 2.5rem;
}

h1 {
    font-family: $primaryFont;
    text-transform: lowercase;
    letter-spacing: 2px;
}

@media (max-width: 1123px) {
    header h1{
        width: 70%;
    }
}

@media (max-width: 1040px) {
    header h1 {
        font-size: 2.2rem;
    }
}

.fa-tint {
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // padding: 0 20px;
    width: 33.3%;
}

h3 {
    padding: 0 0 15px 0;
    font-family: $secondaryFont;
    color: $white;
    font-size: 1.0rem;
}

/* LEGEND SECTION STYLES */
.legendContents {
    border: 2px solid $white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
        li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-family: $secondaryFont;
        font-size: 1.2rem;
        color: $white;
        font-weight: bold;
        text-transform: lowercase;
        width: 25%;
        border: none;
        .fa {
            color: $white;
        }
    }
}

.legendContents li:first-child {
    &:hover {
        color: lightcoral;
    }
    &:hover i {
        color: lightcoral;
    }
}

.legendContents li:nth-child(2) {
    &:hover {
        color: rgba(253, 188, 7, 0.966);
    }
    &:hover i {
        color: rgba(253, 188, 7, 0.966);
    }
}

.legendContents li:nth-child(3) {
    &:hover {
        color: rgba(75, 134, 211, 0.808);
    }
    &:hover i {
        color: rgba(75, 134, 211, 0.808);
    }
}


.date {
    font-family: $secondaryFont;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid white;
    font-size: 1.6rem;
    color: white;
    padding: 10px;
    text-align: center;
}

.addTaskForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    font-family: $primaryFont;
    font-size: 1.0rem;
}


@media (max-width: 940px) {
    .mainTitle {
        width: 80%;
    }
}

@media (max-width: 813px) {
    .mainTitle {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .headerDiv{
        flex-wrap: wrap;
    }
    .addTaskForm {
        width: 500px;
        margin: 15px auto;
    }
    .mainTitle {
        width: 150%;
    }
    h3 {
        width: 150%;
    }
}

@media (max-width: 672px) {
    .mainTitle {
        width: 160%;
    }  
}

@media (max-width: 633px) {
    .mainTitle {
        width: 200%;
    }
    .legendContents li {
        width: 50%;
    }
}

@media (max-width:540px) {
    .headerDiv {
        flex-direction: column;
        align-items: flex-start;
    }
    .headerDate {
        margin: 0 auto;
    }
    .title {
        width: 100%;
        padding: 0 10px;
    }
    .mainTitle {
        width: 100%;
    }
    h3 {
        width: 100%;
    }
    .addTaskForm {
        width: 100%;
    }
    .date {
        margin: 5px auto;
    }
}

@media (max-width: 362px) {
    .mainTitle {
        font-size: 1.8rem;
    }
    .legendContents li {
        font-size: 1.0rem;
    }
    // .addTaskForm {
    //     width: 300px;
    // }
    // .inputbox {
    //     flex-shrink: 1;
    // }
    // select {
    //     width: 100px;
    // }
}

// @media (max-width: 329px) {
//     header h1 {
//         width: 80%;
//     }
// }

.fillTaskForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputBox, select {
    height: 30px;
    border: none;
    border-radius: 5px;
    color: $secondaryColor;
}

.inputBox {
    visibility: visible;
    padding: 0 5px;
    flex-grow: 2;
    width: 55%;
    margin: 0 1% 0 0;
}

select {
    text-transform: lowercase;
    flex-grow: 1;
}

.buttonSection {
    width: 100%;
    padding: 10px 0 0 0;
}

.addTaskButton {
    background: $accentColor;
    border: 1px solid $accentColor;
    border-radius: 5px;
    color: $white;
    height: 30px;
    width: 100%;
    text-transform: lowercase;
    &:hover {
        background: $secondaryColor;
    }
}

/* LOGOUT BUTTON STYLES */
.log {
    margin-top: 10px;
}